# Weather information: Top 35 cities to visit in France  

In this notebook I :  
-  Retrieved the weather information for the [top 35 best cities in France](https://one-week-in.com/35-cities-to-visit-in-france/)
-  Defined the top 5 cities to visit based on the best weather for the next 7 days

## Import libraries

In [2]:
import requests
import pandas as pd
import numpy as np
import json

from src.cities_weather import req_gps_fn, req_weather_fn, req_to_df_fn
from src.cities_weather import explode_df_fn, explode2_df_fn, explodeall_df_fn

## Import data

In [3]:
# Import list of top 35 cities in France
filename = 'data/raw/top_35_cities_france.txt'
with open(filename) as file:
    top_cities_ls = [line.rstrip() for line in file]

print(len(top_cities_ls))
print(top_cities_ls[0:4])

35
['Mont Saint Michel', 'Saint-Malo', 'Bayeux', 'Le Havre']

## 1. GPS coordinates

Use the [nominatim API](https://nominatim.org/) to get latitute and longitude for each of the cities of interest

### API request

In [4]:
# Use previously defined requests function  to retrieve response for top cities
api_gps=[req_gps_fn(x) for x in top_cities_ls]
print('API response length: ', len(api_gps))
api_gps[0]

API response length:  35

[{'place_id': 151486647,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'way',
  'osm_id': 211285890,
  'boundingbox': ['48.6349172', '48.637031', '-1.5133292', '-1.5094796'],
  'lat': '48.6359541',
  'lon': '-1.511459954959514',
  'display_name': 'Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France',
  'place_rank': 20,
  'category': 'place',
  'type': 'islet',
  'importance': 0.755436556781574},
 {'place_id': 282955240,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 7360493,
  'boundingbox': ['46.7308335', '46.9105744', '-75.4379111', '-75.1592812'],
  'lat': '46.7798558',
  'lon': '-75.336261',
  'display_name': 'Mont-Saint-Michel, Antoine-Labelle, Laurentides, Québec, J0W 1P0, Canada',
  'place_rank': 16,
  'category': 'boundary',
  'type': 'administrative',
  'importance': 0.7301414688716277,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 65638299,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 5972710523,
  'boundingbox': ['48.6359711', '48.6360711', '-1.5115447', '-1.5114447'],
  'lat': '48.6360211',
  'lon': '-1.5114947',
  'display_name': 'Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France',
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 14994654,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1581196576,
  'boundingbox': ['43.8495943', '43.8496943', '7.0938427', '7.0939427'],
  'lat': '43.8496443',
  'lon': '7.0938927',
  'display_name': "Mont Saint-Michel, Les Ferres, Grasse, Alpes-Maritimes, Provence-Alpes-Côte d'Azur, France métropolitaine, 06510, France",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 334476680,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 9581659906,
  'boundingbox': ['43.897659', '43.897759', '7.3643673', '7.3644673'],
  'lat': '43.897709',
  'lon': '7.3644173',
  'display_name': "Mont Saint-Michel, Nice, Alpes-Maritimes, Provence-Alpes-Côte d'Azur, France métropolitaine, France",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 17310160,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1872758730,
  'boundingbox': ['46.3000484', '46.3001484', '-74.3988049', '-74.3987049'],
  'lat': '46.3000984',
  'lon': '-74.3987549',
  'display_name': 'Mont Saint-Michel, Saint-Donat, Matawinie, Lanaudière, Québec, Canada',
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 58622630,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 5251907729,
  'boundingbox': ['46.0539482', '46.0540482', '-71.8872747', '-71.8871747'],
  'lat': '46.0539982',
  'lon': '-71.8872247',
  'display_name': "Mont Saint-Michel, Saint-Christophe-d'Arthabaska, Arthabaska, Centre-du-Québec, Québec, G6S 1J1, Canada",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 15898123,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1725899227,
  'boundingbox': ['48.7751121', '48.7752121', '7.3628123', '7.3629123'],
  'lat': '48.7751621',
  'lon': '7.3628623',
  'display_name': "Mont Saint-Michel (Alsace), Chemin d'Ernolsheim, Saint-Jean-Saverne, Saverne, Bas-Rhin, Grand Est, France métropolitaine, 67700, France",
  'place_rank': 30,
  'category': 'tourism',
  'type': 'attraction',
  'importance': 0.5208608703737879,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_point_of_interest.p.20.png'},
 {'place_id': 14518218,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1456267479,
  'boundingbox': ['48.6806803', '48.7006803', '5.8726485', '5.8926485'],
  'lat': '48.6906803',
  'lon': '5.8826485',
  'display_name': 'Mont Saint-Michel, Régina Village, Saint-Mansuy, Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France',
  'place_rank': 25,
  'category': 'place',
  'type': 'locality',
  'importance': 0.42500000000000004,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 254889829,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'way',
  'osm_id': 789360207,
  'boundingbox': ['52.5093318', '52.5093551', '4.9367024', '4.9369278'],
  'lat': '52.5093551',
  'lon': '4.9369278',
  'display_name': 'Mont Saint Michel, Purmerend, Noord-Holland, Nederland, 1448KT, Nederland',
  'place_rank': 26,
  'category': 'highway',
  'type': 'residential',
  'importance': 0.4}]

In [5]:
# Create dataframe from request response
api_cities_df = req_to_df_fn(api_gps)
api_cities_df.head()

Number of API keys retrieved in request response:  12
List of dataframes per API result. Length:  35
Merged API requests dataframe shape:  (294, 12)

,place_id,licence,osm_type,osm_id,boundingbox,lat,lon,display_name,place_rank,category,type,importance
0,151486647,"Data © OpenStreetMap contributors, ODbL 1.0. h...",way,211285890,"[48.6349172, 48.637031, -1.5133292, -1.5094796]",48.6359541,-1.511459954959514,"Mont Saint-Michel, Le Mont-Saint-Michel, Avran...",20,place,islet,0.755437
1,282955240,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,7360493,"[46.7308335, 46.9105744, -75.4379111, -75.1592...",46.7798558,-75.336261,"Mont-Saint-Michel, Antoine-Labelle, Laurentide...",16,boundary,administrative,0.730141
2,65638299,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,5972710523,"[48.6359711, 48.6360711, -1.5115447, -1.5114447]",48.6360211,-1.5114947,"Mont Saint-Michel, Le Mont-Saint-Michel, Avran...",18,natural,peak,0.600000
3,14994654,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,1581196576,"[43.8495943, 43.8496943, 7.0938427, 7.0939427]",43.8496443,7.0938927,"Mont Saint-Michel, Les Ferres, Grasse, Alpes-M...",18,natural,peak,0.600000
4,334476680,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,9581659906,"[43.897659, 43.897759, 7.3643673, 7.3644673]",43.897709,7.3644173,"Mont Saint-Michel, Nice, Alpes-Maritimes, Prov...",18,natural,peak,0.600000

In [6]:
# Keep copy of original df
api_cities_df_raw=api_cities_df
api_cities_df=api_cities_df_raw.copy()

### Delete duplicated alias

In [7]:
#Create a column containing search name of city (obtained from display_name column)
api_cities_df['Search_Name']=api_cities_df.display_name.str.split(',',expand=True)[0]
api_cities_df.head()

#Sort by entry with highest importance (given based on Wikipedia entries) and then delete duplicated Search Names
api_cities_df=api_cities_df.sort_values('importance', ascending=False).drop_duplicates(subset=['Search_Name'])
api_cities_df=api_cities_df.sort_values('importance', ascending=False).drop_duplicates(subset=['Search_Name'])
print('Shape of duplicate clean cities dataframe: ', api_cities_df.shape)
api_cities_df.head()

Shape of duplicate clean cities dataframe:  (72, 13)

,place_id,licence,osm_type,osm_id,boundingbox,lat,lon,display_name,place_rank,category,type,importance,Search_Name
0,282321559,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,414459,"[43.4062445, 43.5858463, 4.2301364, 4.6444785]",43.4522771,4.4287172,"Saintes-Maries-de-la-Mer, Arles, Bouches-du-Rh...",16,boundary,administrative,0.972517,Saintes-Maries-de-la-Mer
1,283556983,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,17807753,"[48.6934951, 49.0134951, 2.1883915, 2.5083915]",48.8534951,2.3483915,"Paris, Île-de-France, France métropolitaine, 7...",15,place,city,0.941710,Paris
0,281716908,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,70279,"[43.4461058, 43.6259224, 5.2694745, 5.5063013]",43.5298424,5.4474738,"Aix-en-Provence, Bouches-du-Rhône, Provence-Al...",16,boundary,administrative,0.891085,Aix-en-Provence
0,282341149,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,104492,"[49.4516697, 49.5401463, 0.0667992, 0.1955556]",49.4938975,0.1079732,"Le Havre, Seine-Maritime, Normandie, France mé...",16,boundary,administrative,0.822333,Le Havre
0,281822562,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,117858,"[46.1331804, 46.1908971, -1.2419231, -1.111097]",46.1591126,-1.1520434,"La Rochelle, Charente-Maritime, Nouvelle-Aquit...",16,boundary,administrative,0.801484,La Rochelle

### GPS coordinates dataframe

In [8]:
#The GPS coordinates are found under the keys lat and lon
cols_keep_ls=["Search_Name","lat","lon"]
GPS_df=api_cities_df.loc[:,cols_keep_ls]

print('Cities GPS dataframe shape: ', GPS_df.shape)
GPS_df.head(44)

Cities GPS dataframe shape:  (72, 3)

                   Search_Name                 lat                 lon
0     Saintes-Maries-de-la-Mer          43.4522771           4.4287172
1                        Paris          48.8534951           2.3483915
0              Aix-en-Provence          43.5298424           5.4474738
0                     Le Havre          49.4938975           0.1079732
0                  La Rochelle          46.1591126          -1.1520434
0                         Lyon          45.7578137           4.8320114
0                    Marseille          43.2961743           5.3699525
0                   Strasbourg           48.584614           7.7507127
1                     Toulouse          43.6007049  1.4241145487393414
0           Bormes-les-Mimosas          43.1572172   6.329253867921363
0                   Saint-Malo           48.649518          -2.0260409
0                        Lille          50.6365654           3.0635282
0            Mont Saint-Michel          48.6359541  -1.511459954959514
0  Château du Haut-Kœnigsbourg  48.249489800000006    7.34429620253195
0                     Grenoble          45.1875602           5.7357819
1                        Rouen  49.441182299999994   1.085229501995006
0                        Dijon          47.3215806           5.0414701
1                       Amiens  49.898700500000004  2.2724569947750464
0                Aigues-Mortes          43.5658225           4.1912837
0                      Avignon          43.9492493           4.8059012
1            Mont-Saint-Michel          46.7798558          -75.336261
0                        Nîmes          43.8374249           4.3600687
0                      Bayonne          43.4933379           -1.475099
0                       Ariège          42.9455368  1.4065544156065486
0                  Carcassonne          43.2130358           2.3491069
1                     Biarritz  43.471143749999996  -1.552726590666314
0                       Annecy          45.8992348           6.1288847
0                       Bayeux          49.2764624          -0.7024738
0             Gorges du Verdon          43.7496562           6.3285616
0                    Montauban          44.0175835           1.3549991
0                         Uzès          44.0121279           4.4196718
1          Montauban-de-Luchon          42.7917916           0.6081298
0                    Eguisheim          48.0447968           7.3079618
2                  Lyon County          44.3880733         -95.8287296
0                    Collioure            42.52505           3.0831554
0                     Besançon          47.2380222           6.0243622
0                       Cassis          43.2140359           5.5396318
0                       Colmar          48.0777517           7.3579641
2            Toulouse-Matabiau          43.6114306           1.4542101
7   Mont Saint-Michel (Alsace)          48.7751621           7.3628623
1     Saintes Maries De La Mer          43.4507225           4.4292861
4          Golfe de Saint-Malo         49.11017135  -2.218202853962284
1                Aigues Mortes          45.3314132             1.03014
9                   Saint Malo          29.8779823         -89.5970002

In [9]:
#When filtering df by  names from initial list of cities we loose some of them. Update name in top cities file and re-do API request
s=pd.Series(top_cities_ls)
print(s[~s.isin(GPS_df["Search_Name"])])

Series([], dtype: object)

In [10]:
# Final GPS info dataframe. Select search names in list of top cities
GPS_df=GPS_df[GPS_df["Search_Name"].isin(top_cities_ls)]
GPS_df.sort_values(by=['Search_Name'],inplace=True)
print(GPS_df.shape)
GPS_df.head()

(35, 3)

       Search_Name                 lat                 lon
1    Aigues Mortes          45.3314132             1.03014
0  Aix-en-Provence          43.5298424           5.4474738
1           Amiens  49.898700500000004  2.2724569947750464
0           Annecy          45.8992348           6.1288847
0           Ariège          42.9455368  1.4065544156065486

## 2. Weather data  
Use the [openweathermap API](https://openweathermap.org/api/one-call-api) and previously obtained GPS coordinates to retrieve weather information for the cities of interest

In [11]:
# Define key needed for use API (obtained after registration)
API_key = open("access_keys/API_Key_OpenWeather.txt", "r").read()

In [12]:
#Latitude and longitude form df as lists
lat=GPS_df["lat"].values.tolist()
lon=GPS_df["lon"].values.tolist()

#List comprehension to get request for all of the cities found (by latitude and longitude)
api_weath=[req_weather_fn(x,y, key=API_key) for x,y in zip(lat,lon)]

print('API weather results length: ', len(api_weath)) 
print('API weather keys length: ',len(api_weath[0])) 
api_weath[0]

API weather results length:  35
API weather keys length:  6

{'lat': 45.3314,
 'lon': 1.0301,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'current': {'dt': 1649613278,
  'sunrise': 1649567987,
  'sunset': 1649615654,
  'temp': 11.75,
  'feels_like': 10.55,
  'pressure': 1013,
  'humidity': 60,
  'dew_point': 4.25,
  'uvi': 0,
  'clouds': 75,
  'visibility': 10000,
  'wind_speed': 1.49,
  'wind_deg': 97,
  'wind_gust': 1.49,
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}]},
 'daily': [{'dt': 1649588400,
   'sunrise': 1649567987,
   'sunset': 1649615654,
   'moonrise': 1649589840,
   'moonset': 1649558640,
   'moon_phase': 0.28,
   'temp': {'day': 13.71,
    'min': 1.02,
    'max': 16.15,
    'night': 9.96,
    'eve': 12.32,
    'morn': 1.02},
   'feels_like': {'day': 12.08, 'night': 8.96, 'eve': 11.15, 'morn': -0.95},
   'pressure': 1018,
   'humidity': 36,
   'dew_point': -1.39,
   'wind_speed': 2.76,
   'wind_deg': 128,
   'wind_gust': 7.22,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 73,
   'pop': 0,
   'uvi': 5.95},
  {'dt': 1649674800,
   'sunrise': 1649654278,
   'sunset': 1649702130,
   'moonrise': 1649680200,
   'moonset': 1649647080,
   'moon_phase': 0.32,
   'temp': {'day': 16.93,
    'min': 6.89,
    'max': 19.09,
    'night': 12.35,
    'eve': 16.73,
    'morn': 8.05},
   'feels_like': {'day': 16.11, 'night': 11.1, 'eve': 15.95, 'morn': 5.44},
   'pressure': 1010,
   'humidity': 55,
   'dew_point': 7.55,
   'wind_speed': 6.12,
   'wind_deg': 138,
   'wind_gust': 16.2,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0,
   'uvi': 5.13},
  {'dt': 1649761200,
   'sunrise': 1649740570,
   'sunset': 1649788607,
   'moonrise': 1649770800,
   'moonset': 1649735160,
   'moon_phase': 0.35,
   'temp': {'day': 17.43,
    'min': 10.57,
    'max': 17.92,
    'night': 12.7,
    'eve': 14.65,
    'morn': 10.94},
   'feels_like': {'day': 16.61, 'night': 12.01, 'eve': 14.29, 'morn': 9.66},
   'pressure': 1009,
   'humidity': 53,
   'dew_point': 7.34,
   'wind_speed': 5.31,
   'wind_deg': 120,
   'wind_gust': 16.1,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 98,
   'pop': 0.38,
   'rain': 0.15,
   'uvi': 5.3},
  {'dt': 1649847600,
   'sunrise': 1649826862,
   'sunset': 1649875084,
   'moonrise': 1649861400,
   'moonset': 1649823000,
   'moon_phase': 0.38,
   'temp': {'day': 12.1,
    'min': 10.42,
    'max': 13.38,
    'night': 10.42,
    'eve': 10.74,
    'morn': 10.96},
   'feels_like': {'day': 11.64, 'night': 10.02, 'eve': 10.38, 'morn': 10.38},
   'pressure': 1015,
   'humidity': 87,
   'dew_point': 9.75,
   'wind_speed': 3.44,
   'wind_deg': 149,
   'wind_gust': 9.42,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.67,
   'rain': 2.34,
   'uvi': 2.5},
  {'dt': 1649934000,
   'sunrise': 1649913155,
   'sunset': 1649961561,
   'moonrise': 1649952120,
   'moonset': 1649910660,
   'moon_phase': 0.41,
   'temp': {'day': 20.95,
    'min': 10.33,
    'max': 20.95,
    'night': 13.58,
    'eve': 16.08,
    'morn': 10.33},
   'feels_like': {'day': 20.48, 'night': 13.47, 'eve': 16.04, 'morn': 9.95},
   'pressure': 1017,
   'humidity': 53,
   'dew_point': 10.81,
   'wind_speed': 2.53,
   'wind_deg': 35,
   'wind_gust': 9.66,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 94,
   'pop': 0.99,
   'rain': 2.72,
   'uvi': 5.6},
  {'dt': 1650020400,
   'sunrise': 1649999449,
   'sunset': 1650048038,
   'moonrise': 1650042960,
   'moonset': 1649998320,
   'moon_phase': 0.45,
   'temp': {'day': 21.5,
    'min': 11.66,
    'max': 22.15,
    'night': 13.92,
    'eve': 17.57,
    'morn': 11.66},
   'feels_like': {'day': 21.01, 'night': 13.27, 'eve': 16.92, 'morn': 11.36},
   'pressure': 1020,
   'humidity': 50,
   'dew_point': 10.35,
   'wind_speed': 4.03,
   'wind_deg': 14,
   'wind_gust': 11.65,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 91,
   'pop': 0.08,
   'uvi': 6.3},
  {'dt': 1650106800,
   'sunrise': 1650085744,
   'sunset': 1650134515,
   'moonrise': 1650133920,
   'moonset': 1650085980,
   'moon_phase': 0.5,
   'temp': {'day': 18.77,
    'min': 9.11,
    'max': 18.77,
    'night': 9.11,
    'eve': 13.34,
    'morn': 9.54},
   'feels_like': {'day': 17.69, 'night': 6.88, 'eve': 12.17, 'morn': 8.11},
   'pressure': 1019,
   'humidity': 38,
   'dew_point': 3.83,
   'wind_speed': 5.01,
   'wind_deg': 10,
   'wind_gust': 10.74,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 0,
   'pop': 0,
   'uvi': 7},
  {'dt': 1650193200,
   'sunrise': 1650172039,
   'sunset': 1650220992,
   'moonrise': 1650225060,
   'moonset': 1650173700,
   'moon_phase': 0.52,
   'temp': {'day': 9.78,
    'min': 5.57,
    'max': 10.3,
    'night': 6.7,
    'eve': 8.86,
    'morn': 5.57},
   'feels_like': {'day': 7.6, 'night': 3.97, 'eve': 6.54, 'morn': 2.87},
   'pressure': 1017,
   'humidity': 57,
   'dew_point': 1.55,
   'wind_speed': 4.73,
   'wind_deg': 19,
   'wind_gust': 10.78,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 88,
   'pop': 0,
   'uvi': 7}]}

In [13]:
# Create dataframe from request response
weather_df_raw = req_to_df_fn(api_weath)
weather_df_raw.head()

Number of API keys retrieved in request response:  6
List of dataframes per API result. Length:  35
Merged API requests dataframe shape:  (35, 7)

,lat,lon,timezone,timezone_offset,current,daily,alerts
0,45.3314,1.0301,Europe/Paris,7200,"{'dt': 1649613278, 'sunrise': 1649567987, 'sun...","[{'dt': 1649588400, 'sunrise': 1649567987, 'su...",NaN
0,43.5298,5.4475,Europe/Paris,7200,"{'dt': 1649613278, 'sunrise': 1649567057, 'sun...","[{'dt': 1649588400, 'sunrise': 1649567057, 'su...",NaN
0,49.8987,2.2725,Europe/Paris,7200,"{'dt': 1649613278, 'sunrise': 1649567321, 'sun...","[{'dt': 1649588400, 'sunrise': 1649567321, 'su...",NaN
0,45.8992,6.1289,Europe/Paris,7200,"{'dt': 1649613278, 'sunrise': 1649566723, 'sun...","[{'dt': 1649588400, 'sunrise': 1649566723, 'su...","[{'sender_name': 'METEO-FRANCE', 'event': 'Mod..."
0,42.9455,1.4066,Europe/Paris,7200,"{'dt': 1649613278, 'sunrise': 1649568065, 'sun...","[{'dt': 1649588400, 'sunrise': 1649568065, 'su...","[{'sender_name': 'METEO-FRANCE', 'event': 'Mod..."

In [14]:
#Drop current weather information. Keep only daily
weather_df=weather_df_raw.copy()
weather_df.drop('current',axis=1,inplace=True)

In [15]:
# First data explosion: on chosen column: daily
df_explode = explode_df_fn(weather_df, 'daily')
print(df_explode.shape)
df_explode.head()

(35, 13)

,lat,lon,timezone,timezone_offset,alerts,Today,Day_1,Day_2,Day_3,Day_4,Day_5,Day_6,Day_7
0,45.3314,1.0301,Europe/Paris,7200,NaN,"{'dt': 1649588400, 'sunrise': 1649567987, 'sun...","{'dt': 1649674800, 'sunrise': 1649654278, 'sun...","{'dt': 1649761200, 'sunrise': 1649740570, 'sun...","{'dt': 1649847600, 'sunrise': 1649826862, 'sun...","{'dt': 1649934000, 'sunrise': 1649913155, 'sun...","{'dt': 1650020400, 'sunrise': 1649999449, 'sun...","{'dt': 1650106800, 'sunrise': 1650085744, 'sun...","{'dt': 1650193200, 'sunrise': 1650172039, 'sun..."
0,43.5298,5.4475,Europe/Paris,7200,NaN,"{'dt': 1649588400, 'sunrise': 1649567987, 'sun...","{'dt': 1649674800, 'sunrise': 1649654278, 'sun...","{'dt': 1649761200, 'sunrise': 1649740570, 'sun...","{'dt': 1649847600, 'sunrise': 1649826862, 'sun...","{'dt': 1649934000, 'sunrise': 1649913155, 'sun...","{'dt': 1650020400, 'sunrise': 1649999449, 'sun...","{'dt': 1650106800, 'sunrise': 1650085744, 'sun...","{'dt': 1650193200, 'sunrise': 1650172039, 'sun..."
0,49.8987,2.2725,Europe/Paris,7200,NaN,"{'dt': 1649588400, 'sunrise': 1649567987, 'sun...","{'dt': 1649674800, 'sunrise': 1649654278, 'sun...","{'dt': 1649761200, 'sunrise': 1649740570, 'sun...","{'dt': 1649847600, 'sunrise': 1649826862, 'sun...","{'dt': 1649934000, 'sunrise': 1649913155, 'sun...","{'dt': 1650020400, 'sunrise': 1649999449, 'sun...","{'dt': 1650106800, 'sunrise': 1650085744, 'sun...","{'dt': 1650193200, 'sunrise': 1650172039, 'sun..."
0,45.8992,6.1289,Europe/Paris,7200,"[{'sender_name': 'METEO-FRANCE', 'event': 'Mod...","{'dt': 1649588400, 'sunrise': 1649567987, 'sun...","{'dt': 1649674800, 'sunrise': 1649654278, 'sun...","{'dt': 1649761200, 'sunrise': 1649740570, 'sun...","{'dt': 1649847600, 'sunrise': 1649826862, 'sun...","{'dt': 1649934000, 'sunrise': 1649913155, 'sun...","{'dt': 1650020400, 'sunrise': 1649999449, 'sun...","{'dt': 1650106800, 'sunrise': 1650085744, 'sun...","{'dt': 1650193200, 'sunrise': 1650172039, 'sun..."
0,42.9455,1.4066,Europe/Paris,7200,"[{'sender_name': 'METEO-FRANCE', 'event': 'Mod...","{'dt': 1649588400, 'sunrise': 1649567987, 'sun...","{'dt': 1649674800, 'sunrise': 1649654278, 'sun...","{'dt': 1649761200, 'sunrise': 1649740570, 'sun...","{'dt': 1649847600, 'sunrise': 1649826862, 'sun...","{'dt': 1649934000, 'sunrise': 1649913155, 'sun...","{'dt': 1650020400, 'sunrise': 1649999449, 'sun...","{'dt': 1650106800, 'sunrise': 1650085744, 'sun...","{'dt': 1650193200, 'sunrise': 1650172039, 'sun..."

In [16]:
def explode2_df_fn(col_name,df_exploded):
    #Subset first columns
    df_explode2=df_exploded.iloc[:,0:4]
    #Explode df
    df_explode3=df_explode2.join(pd.json_normalize(df_exploded[col_name]))
    df_explode3['Day']=col_name
    return(df_explode3)

explode2_df_fn("Today", df_explode)

,lat,lon,timezone,timezone_offset,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,temp.min,temp.max,temp.night,temp.eve,temp.morn,feels_like.day,feels_like.night,feels_like.eve,feels_like.morn,Day
0,45.3314,1.0301,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.5298,5.4475,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,49.8987,2.2725,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,45.8992,6.1289,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,42.9455,1.4066,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.9492,4.8059,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,49.2765,-0.7025,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.4933,-1.4751,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,-33.9659,25.508,Africa/Johannesburg,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.4711,-1.5527,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.1572,6.3293,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.213,2.3491,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.214,5.5396,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.2495,7.3443,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,42.5251,3.0832,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.0778,7.358,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,47.3216,5.0415,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.0448,7.308,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.7497,6.3286,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,45.1876,5.7358,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,46.1591,-1.152,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,49.4939,0.108,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,50.6366,3.0635,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,45.7578,4.832,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.2962,5.37,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,52.5094,4.9369,Europe/Amsterdam,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,44.0176,1.355,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.8374,4.3601,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.8535,2.3484,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,49.4412,1.0852,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.6495,-2.026,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.4523,4.4287,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,48.5846,7.7507,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,43.6007,1.4241,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today
0,44.0121,4.4197,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,1.02,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today

In [18]:
# Second data explosion: explode weather info for every day
names_7days=[str(df_explode.columns[x]) for x in range(6,13)]
td=["Today"]
days_ls=td+names_7days

weather_perday_df = explodeall_df_fn(days_ls, df_exploded=df_explode)
weather_perday_df.head()

Explosion done for all: 8 days
Shape of df:(280, 32)
Verify unique days: ['Today' 'Day_1' 'Day_2' 'Day_3' 'Day_4' 'Day_5' 'Day_6' 'Day_7']

,lat,lon,timezone,timezone_offset,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,temp_max,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,Day,rain
0,45.3314,1.0301,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN
0,43.5298,5.4475,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN
0,49.8987,2.2725,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN
0,45.8992,6.1289,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN
0,42.9455,1.4066,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,16.15,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN

In [67]:
# Export weather df
weather_perday_df.to_csv('data/processed/top_35_cities_france_weather_7days.csv', index=False)

## 3. Final dataset: Expanded weather data for 7 days for 35 cities

City Name included with lat and lon  
1 row equivalent to 1 day weather info for a specific city

In [68]:
# Merge GPS_df to weather_perday_df to get name of city

# Before merging: update type of columns in GPS df
GPS_df['lat']=pd.to_numeric(GPS_df["lat"])
GPS_df['lon']=pd.to_numeric(GPS_df["lon"])

# Round lat and lon to signif figures for merging
GPS_rounded_df=GPS_df.copy()
GPS_rounded_df['lat']=[np.round(num,4) for num in GPS_rounded_df['lat']]
GPS_rounded_df['lon']=[np.round(num,4) for num in GPS_rounded_df['lon']]

GPS_rounded_df.to_csv('data/processed/top_35_cities_france_gpscoord.csv', index=False)

GPS_rounded_df.head()

       Search_Name      lat     lon
1    Aigues Mortes  45.3314  1.0301
0  Aix-en-Provence  43.5298  5.4475
1           Amiens  49.8987  2.2725
0           Annecy  45.8992  6.1289
0           Ariège  42.9455  1.4066

In [27]:
# Final, merged dataframe. Lost info for Collioure despite updating on latitude and longitude 
gps_7dweather_df=weather_perday_df.merge(GPS_rounded_df,left_on=["lat","lon"],right_on=["lat","lon"])
print(gps_7dweather_df.shape)
print('{} unique cities: {}'.format(gps_7dweather_df.Search_Name.nunique(), gps_7dweather_df.Search_Name.unique()))
gps_7dweather_df.head()

(272, 33)
34 unique cities: ['Aigues Mortes' 'Aix-en-Provence' 'Amiens' 'Annecy' 'Ariège' 'Avignon'
 'Bayeux' 'Bayonne' 'Besancon' 'Biarritz' 'Bormes-les-Mimosas'
 'Carcassonne' 'Cassis' 'Château du Haut-Kœnigsbourg' 'Colmar' 'Dijon'
 'Eguisheim' 'Gorges du Verdon' 'Grenoble' 'La Rochelle' 'Le Havre'
 'Lille' 'Lyon' 'Marseille' 'Mont Saint Michel' 'Montauban' 'Nîmes'
 'Paris' 'Rouen' 'Saint-Malo' 'Saintes-Maries-de-la-Mer' 'Strasbourg'
 'Toulouse' 'Uzès']

,lat,lon,timezone,timezone_offset,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,Day,rain,Search_Name
0,45.3314,1.0301,Europe/Paris,7200,1649588400,1649567987,1649615654,1649589840,1649558640,0.28,...,9.96,12.32,1.02,12.08,8.96,11.15,-0.95,Today,NaN,Aigues Mortes
1,45.3314,1.0301,Europe/Paris,7200,1649674800,1649654278,1649702130,1649680200,1649647080,0.32,...,12.35,16.73,8.05,16.11,11.10,15.95,5.44,Day_1,NaN,Aigues Mortes
2,45.3314,1.0301,Europe/Paris,7200,1649761200,1649740570,1649788607,1649770800,1649735160,0.35,...,12.70,14.65,10.94,16.61,12.01,14.29,9.66,Day_2,0.15,Aigues Mortes
3,45.3314,1.0301,Europe/Paris,7200,1649847600,1649826862,1649875084,1649861400,1649823000,0.38,...,10.42,10.74,10.96,11.64,10.02,10.38,10.38,Day_3,2.34,Aigues Mortes
4,45.3314,1.0301,Europe/Paris,7200,1649934000,1649913155,1649961561,1649952120,1649910660,0.41,...,13.58,16.08,10.33,20.48,13.47,16.04,9.95,Day_4,2.72,Aigues Mortes

In [66]:
# Export final dataframe with weather for 7 days for top french cities to visit
gps_7dweather_df.to_csv('results/top_35_cities_france_weather_gps.csv', index=False)