# Weather information: Top 35 cities to visit in France  

In this notebook I :  
-  Retrieved the weather information for the [top 35 best cities in France](https://one-week-in.com/35-cities-to-visit-in-france/)
-  Defined the top 5 cities to visit based on the best weather for the next 7 days

## Import libraries

In [1]:
import requests
import pandas as pd
import numpy as np
import json

from src.cities_weather import req_gps_fn, req_weather_fn, req_to_df_fn
from src.cities_weather import explode_df_fn, explode2_df_fn, explodeall_df_fn

## Import data

In [2]:
# Import list of top 35 cities in France
filename = 'data/raw/top_35_cities_france.txt'
with open(filename) as file:
    top_cities_ls = [line.rstrip() for line in file]

print(len(top_cities_ls))
print(top_cities_ls[0:4])

35
['Mont Saint Michel', 'Saint-Malo', 'Bayeux', 'Le Havre']

## 1. GPS coordinates

Use the [nominatim API](https://nominatim.org/) to get latitute and longitude for each of the cities of interest

### API request

In [3]:
# Use previously defined requests function  to retrieve response for top cities
api_gps=[req_gps_fn(x) for x in top_cities_ls]
print('API response length: ', len(api_gps))
api_gps[0]

API response length:  35

[{'place_id': 151486647,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'way',
  'osm_id': 211285890,
  'boundingbox': ['48.6349172', '48.637031', '-1.5133292', '-1.5094796'],
  'lat': '48.6359541',
  'lon': '-1.511459954959514',
  'display_name': 'Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France',
  'place_rank': 20,
  'category': 'place',
  'type': 'islet',
  'importance': 0.755436556781574},
 {'place_id': 282955240,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 7360493,
  'boundingbox': ['46.7308335', '46.9105744', '-75.4379111', '-75.1592812'],
  'lat': '46.7798558',
  'lon': '-75.336261',
  'display_name': 'Mont-Saint-Michel, Antoine-Labelle, Laurentides, Québec, J0W 1P0, Canada',
  'place_rank': 16,
  'category': 'boundary',
  'type': 'administrative',
  'importance': 0.7301414688716277,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 65638299,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 5972710523,
  'boundingbox': ['48.6359711', '48.6360711', '-1.5115447', '-1.5114447'],
  'lat': '48.6360211',
  'lon': '-1.5114947',
  'display_name': 'Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France',
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 14994654,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1581196576,
  'boundingbox': ['43.8495943', '43.8496943', '7.0938427', '7.0939427'],
  'lat': '43.8496443',
  'lon': '7.0938927',
  'display_name': "Mont Saint-Michel, Les Ferres, Grasse, Alpes-Maritimes, Provence-Alpes-Côte d'Azur, France métropolitaine, 06510, France",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 334476680,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 9581659906,
  'boundingbox': ['43.897659', '43.897759', '7.3643673', '7.3644673'],
  'lat': '43.897709',
  'lon': '7.3644173',
  'display_name': "Mont Saint-Michel, Nice, Alpes-Maritimes, Provence-Alpes-Côte d'Azur, France métropolitaine, France",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 17310160,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1872758730,
  'boundingbox': ['46.3000484', '46.3001484', '-74.3988049', '-74.3987049'],
  'lat': '46.3000984',
  'lon': '-74.3987549',
  'display_name': 'Mont Saint-Michel, Saint-Donat, Matawinie, Lanaudière, Québec, Canada',
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 58622630,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 5251907729,
  'boundingbox': ['46.0539482', '46.0540482', '-71.8872747', '-71.8871747'],
  'lat': '46.0539982',
  'lon': '-71.8872247',
  'display_name': "Mont Saint-Michel, Saint-Christophe-d'Arthabaska, Arthabaska, Centre-du-Québec, Québec, G6S 1J1, Canada",
  'place_rank': 18,
  'category': 'natural',
  'type': 'peak',
  'importance': 0.6000000000000001,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_peak.p.20.png'},
 {'place_id': 15898123,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1725899227,
  'boundingbox': ['48.7751121', '48.7752121', '7.3628123', '7.3629123'],
  'lat': '48.7751621',
  'lon': '7.3628623',
  'display_name': "Mont Saint-Michel (Alsace), Chemin d'Ernolsheim, Saint-Jean-Saverne, Saverne, Bas-Rhin, Grand Est, France métropolitaine, 67700, France",
  'place_rank': 30,
  'category': 'tourism',
  'type': 'attraction',
  'importance': 0.5208608703737879,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_point_of_interest.p.20.png'},
 {'place_id': 14518218,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 1456267479,
  'boundingbox': ['48.6806803', '48.7006803', '5.8726485', '5.8926485'],
  'lat': '48.6906803',
  'lon': '5.8826485',
  'display_name': 'Mont Saint-Michel, Régina Village, Saint-Mansuy, Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France',
  'place_rank': 25,
  'category': 'place',
  'type': 'locality',
  'importance': 0.42500000000000004,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 254889829,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'way',
  'osm_id': 789360207,
  'boundingbox': ['52.5093318', '52.5093551', '4.9367024', '4.9369278'],
  'lat': '52.5093551',
  'lon': '4.9369278',
  'display_name': 'Mont Saint Michel, Purmerend, Noord-Holland, Nederland, 1448KT, Nederland',
  'place_rank': 26,
  'category': 'highway',
  'type': 'residential',
  'importance': 0.4}]

In [4]:
# Create dataframe from request response
api_cities_df = req_to_df_fn(api_gps)
api_cities_df.head()

Number of API keys retrieved in request response:  12
List of dataframes per API result. Length:  35
Merged API requests dataframe shape:  (294, 12)

,place_id,licence,osm_type,osm_id,boundingbox,lat,lon,display_name,place_rank,category,type,importance
0,151486647,"Data © OpenStreetMap contributors, ODbL 1.0. h...",way,211285890,"[48.6349172, 48.637031, -1.5133292, -1.5094796]",48.6359541,-1.511459954959514,"Mont Saint-Michel, Le Mont-Saint-Michel, Avran...",20,place,islet,0.755437
1,282955240,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,7360493,"[46.7308335, 46.9105744, -75.4379111, -75.1592...",46.7798558,-75.336261,"Mont-Saint-Michel, Antoine-Labelle, Laurentide...",16,boundary,administrative,0.730141
2,65638299,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,5972710523,"[48.6359711, 48.6360711, -1.5115447, -1.5114447]",48.6360211,-1.5114947,"Mont Saint-Michel, Le Mont-Saint-Michel, Avran...",18,natural,peak,0.600000
3,14994654,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,1581196576,"[43.8495943, 43.8496943, 7.0938427, 7.0939427]",43.8496443,7.0938927,"Mont Saint-Michel, Les Ferres, Grasse, Alpes-M...",18,natural,peak,0.600000
4,334476680,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,9581659906,"[43.897659, 43.897759, 7.3643673, 7.3644673]",43.897709,7.3644173,"Mont Saint-Michel, Nice, Alpes-Maritimes, Prov...",18,natural,peak,0.600000

In [5]:
# Keep copy of original df
api_cities_df_raw=api_cities_df
api_cities_df=api_cities_df_raw.copy()

### Delete duplicated alias

In [6]:
#Create a column containing search name of city (obtained from display_name column)
api_cities_df['Search_Name']=api_cities_df.display_name.str.split(',',expand=True)[0]
api_cities_df.head()

#Sort by entry with highest importance (given based on Wikipedia entries) and then delete duplicated Search Names
api_cities_df=api_cities_df.sort_values('importance', ascending=False).drop_duplicates(subset=['Search_Name'])
api_cities_df=api_cities_df.sort_values('importance', ascending=False).drop_duplicates(subset=['Search_Name'])
print('Shape of duplicate clean cities dataframe: ', api_cities_df.shape)
api_cities_df.head()

Shape of duplicate clean cities dataframe:  (72, 13)

,place_id,licence,osm_type,osm_id,boundingbox,lat,lon,display_name,place_rank,category,type,importance,Search_Name
0,282321559,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,414459,"[43.4062445, 43.5858463, 4.2301364, 4.6444785]",43.4522771,4.4287172,"Saintes-Maries-de-la-Mer, Arles, Bouches-du-Rh...",16,boundary,administrative,0.972517,Saintes-Maries-de-la-Mer
1,283556983,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,17807753,"[48.6934951, 49.0134951, 2.1883915, 2.5083915]",48.8534951,2.3483915,"Paris, Île-de-France, France métropolitaine, 7...",15,place,city,0.941710,Paris
0,281716908,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,70279,"[43.4461058, 43.6259224, 5.2694745, 5.5063013]",43.5298424,5.4474738,"Aix-en-Provence, Bouches-du-Rhône, Provence-Al...",16,boundary,administrative,0.891085,Aix-en-Provence
0,282341149,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,104492,"[49.4516697, 49.5401463, 0.0667992, 0.1955556]",49.4938975,0.1079732,"Le Havre, Seine-Maritime, Normandie, France mé...",16,boundary,administrative,0.822333,Le Havre
0,281822562,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,117858,"[46.1331804, 46.1908971, -1.2419231, -1.111097]",46.1591126,-1.1520434,"La Rochelle, Charente-Maritime, Nouvelle-Aquit...",16,boundary,administrative,0.801484,La Rochelle

### GPS coordinates dataframe

In [7]:
#The GPS coordinates are found under the keys lat and lon
cols_keep_ls=["Search_Name","lat","lon"]
GPS_df=api_cities_df.loc[:,cols_keep_ls]

print('Cities GPS dataframe shape: ', GPS_df.shape)
GPS_df.head(44)

Cities GPS dataframe shape:  (72, 3)

                   Search_Name                 lat                 lon
0     Saintes-Maries-de-la-Mer          43.4522771           4.4287172
1                        Paris          48.8534951           2.3483915
0              Aix-en-Provence          43.5298424           5.4474738
0                     Le Havre          49.4938975           0.1079732
0                  La Rochelle          46.1591126          -1.1520434
0                         Lyon          45.7578137           4.8320114
0                    Marseille          43.2961743           5.3699525
0                   Strasbourg           48.584614           7.7507127
1                     Toulouse          43.6007049  1.4241145487393414
0           Bormes-les-Mimosas          43.1572172   6.329253867921363
0                   Saint-Malo           48.649518          -2.0260409
0                        Lille          50.6365654           3.0635282
0            Mont Saint-Michel          48.6359541  -1.511459954959514
0  Château du Haut-Kœnigsbourg  48.249489800000006    7.34429620253195
0                     Grenoble          45.1875602           5.7357819
1                        Rouen  49.441182299999994   1.085229501995006
0                        Dijon          47.3215806           5.0414701
1                       Amiens  49.898700500000004  2.2724569947750464
0                Aigues-Mortes          43.5658225           4.1912837
0                      Avignon          43.9492493           4.8059012
1            Mont-Saint-Michel          46.7798558          -75.336261
0                        Nîmes          43.8374249           4.3600687
0                      Bayonne          43.4933379           -1.475099
0                       Ariège          42.9455368  1.4065544156065486
0                  Carcassonne          43.2130358           2.3491069
1                     Biarritz  43.471143749999996  -1.552726590666314
0                       Annecy          45.8992348           6.1288847
0                       Bayeux          49.2764624          -0.7024738
0             Gorges du Verdon          43.7496562           6.3285616
0                    Montauban          44.0175835           1.3549991
0                         Uzès          44.0121279           4.4196718
1          Montauban-de-Luchon          42.7917916           0.6081298
0                    Eguisheim          48.0447968           7.3079618
2                  Lyon County          44.3880733         -95.8287296
0                    Collioure            42.52505           3.0831554
0                     Besançon          47.2380222           6.0243622
0                       Cassis          43.2140359           5.5396318
0                       Colmar          48.0777517           7.3579641
2            Toulouse-Matabiau          43.6114306           1.4542101
7   Mont Saint-Michel (Alsace)          48.7751621           7.3628623
1     Saintes Maries De La Mer          43.4507225           4.4292861
4          Golfe de Saint-Malo         49.11017135  -2.218202853962284
1                Aigues Mortes          45.3314132             1.03014
9                   Saint Malo          29.8779823         -89.5970002

In [8]:
#When filtering df by  names from initial list of cities we loose some of them. Update name in top cities file and re-do API request
s=pd.Series(top_cities_ls)
print(s[~s.isin(GPS_df["Search_Name"])])

Series([], dtype: object)

In [9]:
# Final GPS info dataframe. Select search names in list of top cities
GPS_df=GPS_df[GPS_df["Search_Name"].isin(top_cities_ls)]
GPS_df.sort_values(by=['Search_Name'],inplace=True)
print(GPS_df.shape)
GPS_df.head()

(35, 3)

       Search_Name                 lat                 lon
1    Aigues Mortes          45.3314132             1.03014
0  Aix-en-Provence          43.5298424           5.4474738
1           Amiens  49.898700500000004  2.2724569947750464
0           Annecy          45.8992348           6.1288847
0           Ariège          42.9455368  1.4065544156065486

## 2. Weather data  
Use the [openweathermap API](https://openweathermap.org/api/one-call-api) and previously obtained GPS coordinates to retrieve weather information for the cities of interest

In [10]:
# Define key needed for use API (obtained after registration)
API_key = open("access_keys/API_Key_OpenWeather.txt", "r").read()

In [11]:
#Latitude and longitude form df as lists
lat=GPS_df["lat"].values.tolist()
lon=GPS_df["lon"].values.tolist()

#List comprehension to get request for all of the cities found (by latitude and longitude)
api_weath=[req_weather_fn(x,y, key=API_key) for x,y in zip(lat,lon)]

print('API weather results length: ', len(api_weath)) 
print('API weather keys length: ',len(api_weath[0])) 
api_weath[0]

API weather results length:  35
API weather keys length:  6

{'lat': 45.3314,
 'lon': 1.0301,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'current': {'dt': 1650304023,
  'sunrise': 1650258335,
  'sunset': 1650307469,
  'temp': 17.5,
  'feels_like': 16.9,
  'pressure': 1014,
  'humidity': 61,
  'dew_point': 9.9,
  'uvi': 0.14,
  'clouds': 97,
  'visibility': 10000,
  'wind_speed': 3.45,
  'wind_deg': 304,
  'wind_gust': 7.43,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}]},
 'daily': [{'dt': 1650279600,
   'sunrise': 1650258335,
   'sunset': 1650307469,
   'moonrise': 1650316380,
   'moonset': 1650261660,
   'moon_phase': 0.56,
   'temp': {'day': 18.65,
    'min': 7.33,
    'max': 20.18,
    'night': 14.92,
    'eve': 17.67,
    'morn': 7.33},
   'feels_like': {'day': 17.85, 'night': 14.35, 'eve': 17.03, 'morn': 7.33},
   'pressure': 1016,
   'humidity': 49,
   'dew_point': 7.42,
   'wind_speed': 3.45,
   'wind_deg': 304,
   'wind_gust': 7.43,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': 68,
   'pop': 0,
   'uvi': 5.99},
  {'dt': 1650366000,
   'sunrise': 1650344632,
   'sunset': 1650393947,
   'moonrise': 0,
   'moonset': 1650349920,
   'moon_phase': 0.6,
   'temp': {'day': 14.36,
    'min': 9.06,
    'max': 14.71,
    'night': 9.5,
    'eve': 11.63,
    'morn': 9.06},
   'feels_like': {'day': 13.78, 'night': 7.92, 'eve': 11.09, 'morn': 8.51},
   'pressure': 1013,
   'humidity': 74,
   'dew_point': 9.51,
   'wind_speed': 3.43,
   'wind_deg': 319,
   'wind_gust': 9.31,
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': 86,
   'pop': 0.99,
   'rain': 9.62,
   'uvi': 3.96},
  {'dt': 1650452400,
   'sunrise': 1650430930,
   'sunset': 1650480424,
   'moonrise': 1650407640,
   'moonset': 1650438840,
   'moon_phase': 0.64,
   'temp': {'day': 9.9,
    'min': 7.07,
    'max': 9.95,
    'night': 7.07,
    'eve': 9.95,
    'morn': 8.97},
   'feels_like': {'day': 9.9, 'night': 7.07, 'eve': 9.77, 'morn': 8.32},
   'pressure': 1006,
   'humidity': 97,
   'dew_point': 9.11,
   'wind_speed': 3.26,
   'wind_deg': 330,
   'wind_gust': 8.92,
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 16.99,
   'uvi': 4.16},
  {'dt': 1650538800,
   'sunrise': 1650517229,
   'sunset': 1650566901,
   'moonrise': 1650498660,
   'moonset': 1650528360,
   'moon_phase': 0.67,
   'temp': {'day': 11.27,
    'min': 6.98,
    'max': 11.7,
    'night': 9.29,
    'eve': 11.14,
    'morn': 7.8},
   'feels_like': {'day': 10.62, 'night': 9, 'eve': 10.53, 'morn': 7.8},
   'pressure': 1004,
   'humidity': 83,
   'dew_point': 8.22,
   'wind_speed': 1.67,
   'wind_deg': 196,
   'wind_gust': 3.24,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.97,
   'rain': 3.86,
   'uvi': 1.81},
  {'dt': 1650625200,
   'sunrise': 1650603529,
   'sunset': 1650653378,
   'moonrise': 1650588960,
   'moonset': 1650618600,
   'moon_phase': 0.71,
   'temp': {'day': 15.51,
    'min': 6.39,
    'max': 16.55,
    'night': 11.17,
    'eve': 14.03,
    'morn': 6.59},
   'feels_like': {'day': 14.66, 'night': 10.48, 'eve': 13.42, 'morn': 5.83},
   'pressure': 1000,
   'humidity': 59,
   'dew_point': 7.36,
   'wind_speed': 2.34,
   'wind_deg': 221,
   'wind_gust': 6.85,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.29,
   'rain': 0.14,
   'uvi': 4.22},
  {'dt': 1650711600,
   'sunrise': 1650689830,
   'sunset': 1650739856,
   'moonrise': 1650678540,
   'moonset': 1650709380,
   'moon_phase': 0.75,
   'temp': {'day': 10.16,
    'min': 8.62,
    'max': 15.66,
    'night': 9.2,
    'eve': 8.62,
    'morn': 10.63},
   'feels_like': {'day': 9.74, 'night': 7.09, 'eve': 6.79, 'morn': 9.99},
   'pressure': 997,
   'humidity': 96,
   'dew_point': 9.21,
   'wind_speed': 6.15,
   'wind_deg': 263,
   'wind_gust': 12.11,
   'weather': [{'id': 502,
     'main': 'Rain',
     'description': 'heavy intensity rain',
     'icon': '10d'}],
   'clouds': 97,
   'pop': 1,
   'rain': 23.89,
   'uvi': 3.9},
  {'dt': 1650798000,
   'sunrise': 1650776132,
   'sunset': 1650826333,
   'moonrise': 1650767340,
   'moonset': 1650800400,
   'moon_phase': 0.78,
   'temp': {'day': 16.13,
    'min': 9.56,
    'max': 16.13,
    'night': 9.56,
    'eve': 13.92,
    'morn': 9.94},
   'feels_like': {'day': 15.37, 'night': 9.56, 'eve': 13.51, 'morn': 8.51},
   'pressure': 1013,
   'humidity': 60,
   'dew_point': 8.24,
   'wind_speed': 4.48,
   'wind_deg': 242,
   'wind_gust': 11.22,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 93,
   'pop': 1,
   'rain': 3.76,
   'uvi': 4},
  {'dt': 1650884400,
   'sunrise': 1650862435,
   'sunset': 1650912810,
   'moonrise': 1650855600,
   'moonset': 1650891360,
   'moon_phase': 0.82,
   'temp': {'day': 19.71,
    'min': 7.06,
    'max': 20.58,
    'night': 8.77,
    'eve': 9.38,
    'morn': 8.69},
   'feels_like': {'day': 18.94, 'night': 7.71, 'eve': 7.69, 'morn': 8.11},
   'pressure': 1010,
   'humidity': 46,
   'dew_point': 7.44,
   'wind_speed': 3.14,
   'wind_deg': 339,
   'wind_gust': 9.36,
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.93,
   'rain': 11.34,
   'uvi': 4}]}

In [12]:
# Create dataframe from request response
weather_df_raw = req_to_df_fn(api_weath)
weather_df_raw.head()

Number of API keys retrieved in request response:  6
List of dataframes per API result. Length:  35
Merged API requests dataframe shape:  (35, 6)

,lat,lon,timezone,timezone_offset,current,daily
0,45.3314,1.0301,Europe/Paris,7200,"{'dt': 1650304023, 'sunrise': 1650258335, 'sun...","[{'dt': 1650279600, 'sunrise': 1650258335, 'su..."
0,43.5298,5.4475,Europe/Paris,7200,"{'dt': 1650304023, 'sunrise': 1650257451, 'sun...","[{'dt': 1650279600, 'sunrise': 1650257451, 'su..."
0,49.8987,2.2725,Europe/Paris,7200,"{'dt': 1650304023, 'sunrise': 1650257536, 'sun...","[{'dt': 1650279600, 'sunrise': 1650257536, 'su..."
0,45.8992,6.1289,Europe/Paris,7200,"{'dt': 1650304023, 'sunrise': 1650257055, 'sun...","[{'dt': 1650279600, 'sunrise': 1650257055, 'su..."
0,42.9455,1.4066,Europe/Paris,7200,"{'dt': 1650304023, 'sunrise': 1650258474, 'sun...","[{'dt': 1650279600, 'sunrise': 1650258474, 'su..."

In [13]:
#Drop current weather information. Keep only daily
weather_df=weather_df_raw.copy().reset_index(drop=True)
weather_df.drop('current',axis=1,inplace=True)
print(weather_df.shape)

(35, 5)

In [15]:
# First data explosion: on chosen column: daily
df_explode = explode_df_fn(weather_df, 'daily')
print(df_explode.shape)
df_explode.head()

(35, 12)

,lat,lon,timezone,timezone_offset,Today,Day_1,Day_2,Day_3,Day_4,Day_5,Day_6,Day_7
0,45.3314,1.0301,Europe/Paris,7200,"{'dt': 1650279600, 'sunrise': 1650258335, 'sun...","{'dt': 1650366000, 'sunrise': 1650344632, 'sun...","{'dt': 1650452400, 'sunrise': 1650430930, 'sun...","{'dt': 1650538800, 'sunrise': 1650517229, 'sun...","{'dt': 1650625200, 'sunrise': 1650603529, 'sun...","{'dt': 1650711600, 'sunrise': 1650689830, 'sun...","{'dt': 1650798000, 'sunrise': 1650776132, 'sun...","{'dt': 1650884400, 'sunrise': 1650862435, 'sun..."
1,43.5298,5.4475,Europe/Paris,7200,"{'dt': 1650279600, 'sunrise': 1650257451, 'sun...","{'dt': 1650366000, 'sunrise': 1650343753, 'sun...","{'dt': 1650452400, 'sunrise': 1650430057, 'sun...","{'dt': 1650538800, 'sunrise': 1650516362, 'sun...","{'dt': 1650625200, 'sunrise': 1650602667, 'sun...","{'dt': 1650711600, 'sunrise': 1650688974, 'sun...","{'dt': 1650798000, 'sunrise': 1650775281, 'sun...","{'dt': 1650884400, 'sunrise': 1650861590, 'sun..."
2,49.8987,2.2725,Europe/Paris,7200,"{'dt': 1650279600, 'sunrise': 1650257536, 'sun...","{'dt': 1650366000, 'sunrise': 1650343816, 'sun...","{'dt': 1650452400, 'sunrise': 1650430098, 'sun...","{'dt': 1650538800, 'sunrise': 1650516380, 'sun...","{'dt': 1650625200, 'sunrise': 1650602663, 'sun...","{'dt': 1650711600, 'sunrise': 1650688948, 'sun...","{'dt': 1650798000, 'sunrise': 1650775233, 'sun...","{'dt': 1650884400, 'sunrise': 1650861520, 'sun..."
3,45.8992,6.1289,Europe/Paris,7200,"{'dt': 1650279600, 'sunrise': 1650257055, 'sun...","{'dt': 1650366000, 'sunrise': 1650343351, 'sun...","{'dt': 1650452400, 'sunrise': 1650429647, 'sun...","{'dt': 1650538800, 'sunrise': 1650515944, 'sun...","{'dt': 1650625200, 'sunrise': 1650602242, 'sun...","{'dt': 1650711600, 'sunrise': 1650688541, 'sun...","{'dt': 1650798000, 'sunrise': 1650774841, 'sun...","{'dt': 1650884400, 'sunrise': 1650861142, 'sun..."
4,42.9455,1.4066,Europe/Paris,7200,"{'dt': 1650279600, 'sunrise': 1650258474, 'sun...","{'dt': 1650366000, 'sunrise': 1650344778, 'sun...","{'dt': 1650452400, 'sunrise': 1650431084, 'sun...","{'dt': 1650538800, 'sunrise': 1650517390, 'sun...","{'dt': 1650625200, 'sunrise': 1650603697, 'sun...","{'dt': 1650711600, 'sunrise': 1650690005, 'sun...","{'dt': 1650798000, 'sunrise': 1650776315, 'sun...","{'dt': 1650884400, 'sunrise': 1650862625, 'sun..."

In [16]:
# Second data explosion: explode weather info for every day
names_7days=[str(df_explode.columns[x]) for x in range(5,12)]
td=["Today"]
days_ls=td+names_7days

weather_perday_df = explodeall_df_fn(days_ls, df_exploded=df_explode)
weather_perday_df.head(44)

Explosion done for all: 8 days
Shape of df:(280, 33)
Verify unique days: ['Today' 'Day_1' 'Day_2' 'Day_3' 'Day_4' 'Day_5' 'Day_6' 'Day_7']

,lat,lon,timezone,timezone_offset,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,rain,Day,snow
0,45.3314,1.0301,Europe/Paris,7200,1650279600,1650258335,1650307469,1650316380,1650261660,0.56,...,14.92,17.67,7.33,17.85,14.35,17.03,7.33,NaN,Today,NaN
1,43.5298,5.4475,Europe/Paris,7200,1650279600,1650257451,1650306234,1650314880,1650260820,0.56,...,14.58,16.40,10.87,16.79,13.71,15.51,9.61,NaN,Today,NaN
2,49.8987,2.2725,Europe/Paris,7200,1650279600,1650257536,1650307673,1650317100,1650260580,0.56,...,10.72,13.15,6.66,15.18,10.12,12.71,5.26,NaN,Today,NaN
3,45.8992,6.1289,Europe/Paris,7200,1650279600,1650257055,1650306302,1650315180,1650260340,0.56,...,13.04,18.34,3.98,15.31,11.89,17.25,3.98,NaN,Today,NaN
4,42.9455,1.4066,Europe/Paris,7200,1650279600,1650258474,1650307150,1650315840,1650261900,0.56,...,8.53,9.91,4.65,10.36,8.53,9.45,4.65,NaN,Today,NaN
5,43.9492,4.8059,Europe/Paris,7200,1650279600,1650257565,1650306428,1650315120,1650260940,0.56,...,15.96,20.24,9.53,18.71,15.20,19.55,9.08,NaN,Today,NaN
6,49.2765,-0.7025,Europe/Paris,7200,1650283200,1650258323,1650308313,1650317700,1650261420,0.56,...,8.64,11.14,8.23,12.27,7.23,10.37,6.70,NaN,Today,NaN
7,43.4933,-1.4751,Europe/Paris,7200,1650283200,1650259114,1650307893,1650316680,1650262500,0.56,...,13.18,14.82,12.50,14.65,12.85,14.50,12.23,0.72,Today,NaN
8,-33.9659,25.508,Africa/Johannesburg,7200,1650276000,1650256951,1650297106,1650301560,1650262860,0.56,...,15.43,15.91,17.24,19.51,15.30,15.75,17.19,0.82,Today,NaN
9,43.4711,-1.5527,Europe/Paris,7200,1650283200,1650259134,1650307910,1650316680,1650262560,0.56,...,12.89,14.09,12.39,13.94,12.56,13.75,12.09,0.68,Today,NaN
10,43.1572,6.3293,Europe/Paris,7200,1650279600,1650257274,1650305987,1650314580,1650260700,0.56,...,13.08,15.04,11.12,14.95,12.19,14.24,10.51,NaN,Today,NaN
11,43.213,2.3491,Europe/Paris,7200,1650279600,1650258223,1650306949,1650315600,1650261660,0.56,...,15.55,18.39,11.10,17.78,14.83,17.59,10.59,NaN,Today,NaN
12,43.214,5.5396,Europe/Paris,7200,1650279600,1650257458,1650306182,1650314820,1650260880,0.56,...,14.96,16.16,13.19,15.02,14.34,15.55,12.16,NaN,Today,NaN
13,48.2495,7.3443,Europe/Paris,7200,1650279600,1650256512,1650306262,1650315360,1650259620,0.56,...,8.41,12.72,0.90,9.97,7.82,11.17,0.90,NaN,Today,NaN
14,42.5251,3.0832,Europe/Paris,7200,1650279600,1650258110,1650306709,1650315300,1650261540,0.56,...,16.49,18.23,14.03,19.15,15.87,17.62,13.29,NaN,Today,NaN
15,48.0778,7.358,Europe/Paris,7200,1650279600,1650256528,1650306239,1650315360,1650259680,0.56,...,11.67,15.72,3.71,13.17,10.43,14.47,3.71,NaN,Today,NaN
16,47.3216,5.0415,Europe/Paris,7200,1650279600,1650257166,1650306713,1650315780,1650260340,0.56,...,12.38,16.39,3.44,12.75,11.32,15.39,0.73,NaN,Today,NaN
17,48.0448,7.308,Europe/Paris,7200,1650279600,1650256544,1650306248,1650315360,1650259680,0.56,...,11.84,15.69,3.94,13.25,10.57,14.44,2.92,NaN,Today,NaN
18,43.7497,6.3286,Europe/Paris,7200,1650279600,1650257219,1650306043,1650314700,1650260580,0.56,...,8.57,11.99,6.73,13.81,8.57,10.55,5.70,NaN,Today,NaN
19,45.1876,5.7358,Europe/Paris,7200,1650279600,1650257221,1650306325,1650315120,1650260520,0.56,...,12.67,15.47,7.29,17.91,11.56,14.25,6.76,NaN,Today,NaN
20,46.1591,-1.152,Europe/Paris,7200,1650283200,1650258774,1650308078,1650317100,1650262020,0.56,...,12.35,14.07,10.03,14.50,11.83,13.67,9.44,NaN,Today,NaN
21,49.4939,0.108,Europe/Paris,7200,1650279600,1650258103,1650308144,1650317520,1650261180,0.56,...,9.87,10.59,10.04,11.18,8.34,9.90,9.58,NaN,Today,NaN
22,50.6366,3.0635,Europe/Paris,7200,1650279600,1650257256,1650307573,1650317040,1650260220,0.56,...,12.99,16.12,7.76,15.60,12.07,15.15,5.70,NaN,Today,NaN
23,45.7578,4.832,Europe/Paris,7200,1650279600,1650257381,1650306599,1650315480,1650260640,0.56,...,14.21,18.14,7.13,16.28,13.02,16.90,7.13,NaN,Today,NaN
24,43.2962,5.37,Europe/Paris,7200,1650279600,1650257491,1650306231,1650314880,1650260880,0.56,...,15.65,16.69,13.77,15.09,15.10,16.16,12.87,NaN,Today,NaN
25,52.5094,4.9369,Europe/Amsterdam,7200,1650279600,1650256562,1650307367,1650317100,1650259380,0.56,...,12.90,16.05,7.03,15.50,11.86,15.15,4.54,NaN,Today,NaN
26,44.0176,1.355,Europe/Paris,7200,1650279600,1650258386,1650307263,1650316020,1650261780,0.56,...,13.84,17.27,9.38,16.70,13.42,16.88,7.95,NaN,Today,NaN
27,43.8374,4.3601,Europe/Paris,7200,1650279600,1650257682,1650306524,1650315240,1650261060,0.56,...,15.34,19.09,10.07,18.83,14.60,18.44,8.86,NaN,Today,NaN
28,48.8535,2.3484,Europe/Paris,7200,1650279600,1650257641,1650307531,1650316800,1650260760,0.56,...,15.25,18.16,9.72,16.33,14.32,17.00,9.35,NaN,Today,NaN
29,49.4412,1.0852,Europe/Paris,7200,1650279600,1650257875,1650307903,1650317280,1650260940,0.56,...,11.30,13.55,7.34,14.32,10.44,12.89,6.30,NaN,Today,NaN
30,48.6495,-2.026,Europe/Paris,7200,1650283200,1650258713,1650308559,1650317880,1650261840,0.56,...,10.51,12.29,9.94,10.93,9.63,11.19,7.94,NaN,Today,NaN
31,43.4523,4.4287,Europe/Paris,7200,1650279600,1650257702,1650306471,1650315120,1650261120,0.56,...,16.33,18.73,11.82,15.86,16.06,18.54,10.83,NaN,Today,NaN
32,48.5846,7.7507,Europe/Paris,7200,1650279600,1650256377,1650306202,1650315360,1650259440,0.56,...,12.11,16.58,4.27,13.69,10.86,15.31,4.27,NaN,Today,NaN
33,43.6007,1.4241,Europe/Paris,7200,1650279600,1650258409,1650307207,1650315960,1650261780,0.56,...,15.36,18.29,11.39,17.01,15.01,18.05,10.93,NaN,Today,NaN
34,44.0121,4.4197,Europe/Paris,7200,1650279600,1650257651,1650306526,1650315240,1650261000,0.56,...,14.78,18.95,8.88,17.98,13.91,18.21,8.13,NaN,Today,NaN
0,45.3314,1.0301,Europe/Paris,7200,1650366000,1650344632,1650393947,0,1650349920,0.60,...,9.50,11.63,9.06,13.78,7.92,11.09,8.51,9.62,Day_1,NaN
1,43.5298,5.4475,Europe/Paris,7200,1650366000,1650343753,1650392705,0,1650349200,0.60,...,14.57,18.28,10.61,19.47,13.83,17.36,9.68,NaN,Day_1,NaN
2,49.8987,2.2725,Europe/Paris,7200,1650366000,1650343816,1650394166,0,1650348540,0.60,...,9.33,13.66,6.97,13.99,7.86,13.17,5.10,1.86,Day_1,NaN
3,45.8992,6.1289,Europe/Paris,7200,1650366000,1650343351,1650392781,0,1650348540,0.60,...,8.87,15.07,6.35,15.28,8.87,14.28,6.35,NaN,Day_1,NaN
4,42.9455,1.4066,Europe/Paris,7200,1650366000,1650344778,1650393620,0,1650350340,0.60,...,1.97,2.28,5.81,2.28,1.97,2.28,4.70,8.94,Day_1,NaN
5,43.9492,4.8059,Europe/Paris,7200,1650366000,1650343866,1650392900,0,1650349320,0.60,...,15.79,20.37,9.70,19.81,14.89,19.56,8.66,NaN,Day_1,NaN
6,49.2765,-0.7025,Europe/Paris,7200,1650369600,1650344606,1650394805,0,1650349440,0.60,...,8.16,9.16,6.48,10.39,6.12,7.61,4.02,NaN,Day_1,NaN
7,43.4933,-1.4751,Europe/Paris,7200,1650369600,1650345417,1650394365,0,1650350940,0.60,...,10.03,10.61,11.67,10.20,9.28,9.89,10.96,4.99,Day_1,NaN
8,-33.9659,25.508,Africa/Johannesburg,7200,1650362400,1650343397,1650383434,1650390600,1650353640,0.60,...,17.46,18.09,14.34,20.68,17.61,18.20,14.21,NaN,Day_1,NaN

In [17]:
# Export weather df
weather_perday_df.to_csv('data/processed/top_35_cities_france_weather_7days.csv', index=False)

## 3. Final dataset: Expanded weather data for 7 days for 35 cities

City Name included with lat and lon  
1 row equivalent to 1 day weather info for a specific city

In [18]:
# Merge GPS_df to weather_perday_df to get name of city

# Before merging: update type of columns in GPS df
GPS_df['lat']=pd.to_numeric(GPS_df["lat"])
GPS_df['lon']=pd.to_numeric(GPS_df["lon"])

# Round lat and lon to signif figures for merging
GPS_rounded_df=GPS_df.copy()
GPS_rounded_df['lat']=[np.round(num,4) for num in GPS_rounded_df['lat']]
GPS_rounded_df['lon']=[np.round(num,4) for num in GPS_rounded_df['lon']]

GPS_rounded_df.to_csv('data/processed/top_35_cities_france_gpscoord.csv', index=False)

GPS_rounded_df.head()

       Search_Name      lat     lon
1    Aigues Mortes  45.3314  1.0301
0  Aix-en-Provence  43.5298  5.4475
1           Amiens  49.8987  2.2725
0           Annecy  45.8992  6.1289
0           Ariège  42.9455  1.4066

In [19]:
# Final, merged dataframe. Lost info for Collioure despite updating on latitude and longitude 
gps_7dweather_df=weather_perday_df.merge(GPS_rounded_df,left_on=["lat","lon"],right_on=["lat","lon"])
print(gps_7dweather_df.shape)
print('{} unique cities: {}'.format(gps_7dweather_df.Search_Name.nunique(), gps_7dweather_df.Search_Name.unique()))
gps_7dweather_df.head()

(272, 34)
34 unique cities: ['Aigues Mortes' 'Aix-en-Provence' 'Amiens' 'Annecy' 'Ariège' 'Avignon'
 'Bayeux' 'Bayonne' 'Besancon' 'Biarritz' 'Bormes-les-Mimosas'
 'Carcassonne' 'Cassis' 'Château du Haut-Kœnigsbourg' 'Colmar' 'Dijon'
 'Eguisheim' 'Gorges du Verdon' 'Grenoble' 'La Rochelle' 'Le Havre'
 'Lille' 'Lyon' 'Marseille' 'Mont Saint Michel' 'Montauban' 'Nîmes'
 'Paris' 'Rouen' 'Saint-Malo' 'Saintes-Maries-de-la-Mer' 'Strasbourg'
 'Toulouse' 'Uzès']

,lat,lon,timezone,timezone_offset,dt,sunrise,sunset,moonrise,moonset,moon_phase,...,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,rain,Day,snow,Search_Name
0,45.3314,1.0301,Europe/Paris,7200,1650279600,1650258335,1650307469,1650316380,1650261660,0.56,...,17.67,7.33,17.85,14.35,17.03,7.33,NaN,Today,NaN,Aigues Mortes
1,45.3314,1.0301,Europe/Paris,7200,1650366000,1650344632,1650393947,0,1650349920,0.60,...,11.63,9.06,13.78,7.92,11.09,8.51,9.62,Day_1,NaN,Aigues Mortes
2,45.3314,1.0301,Europe/Paris,7200,1650452400,1650430930,1650480424,1650407640,1650438840,0.64,...,9.95,8.97,9.90,7.07,9.77,8.32,16.99,Day_2,NaN,Aigues Mortes
3,45.3314,1.0301,Europe/Paris,7200,1650538800,1650517229,1650566901,1650498660,1650528360,0.67,...,11.14,7.80,10.62,9.00,10.53,7.80,3.86,Day_3,NaN,Aigues Mortes
4,45.3314,1.0301,Europe/Paris,7200,1650625200,1650603529,1650653378,1650588960,1650618600,0.71,...,14.03,6.59,14.66,10.48,13.42,5.83,0.14,Day_4,NaN,Aigues Mortes

In [20]:
# Export final dataframe with weather for 7 days for top french cities to visit
gps_7dweather_df.to_csv('results/top_35_cities_france_weather_gps.csv', index=False)